## map, apply 함수

### 람다 함수를 사용하여 'Gender' 컬럼의 M은 Male로, F는 Female로 변경

In [4]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

s = df['Gender']

s.head()

# check = lambda x : x.replace('M','Male') if x=='M' else x.replace('F','Female')
# result = s.map(check)
result = s.map(lambda x: x.replace('M', 'Male') if x == 'M' else x.replace('F', 'Female'))
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
0      Male
1    Female
2    Female
3      Male
4      Male
Name: Gender, dtype: object

### 딕셔너리를 사용하여 M은 Male로, F는 Female로 변경

In [120]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

s = df['Gender']

s.head()

# check = lambda x : x.replace('M','Male') if x=='M' else x.replace('F','Female')
# result = s.map(check)
result = s.map({'M':'Male', 'F':'Female'})
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
0      Male
1    Female
2    Female
3      Male
4      Male
Name: Gender, dtype: object

### 새로운 계산법을 적용하여 Need_Diet 컬럼 내용을 변경
- Age가 30 이상이면 BMI에 1.1을 곱하고
- Gender가 M 이라면 다시 결과값에 1.1을 곱한다
- 최종 결과값이 20 이상이라면 Need_Diet를 True로 설정, 아니라면 False로 설정

In [103]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

def myfunc(df):
    if df['Age'] >= 30 :
        df['BMI'] = df['BMI']*10000
    if df['Gender'] == 'M' :
        df['BMI'] = df['BMI']*10
    if df['BMI'] >= 20 :
        return True
    else:
        return False

df['Need_Diet'] = df.apply(myfunc, axis = 1)
print(df)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student  Weight  Height       BMI  Need_Diet
0  Baek   21      M        True      50     155  0.002081      False
1   Kim   31      F       False      55     180  0.001698      False
2  Park   17      F        True      60     193  0.001611      False
3   Han   41      M       False      65     153  0.002777       True
4   Lee   51      M       False      70     166  0.002540       True

## rename 함수

### 컬럼명을 모두 소문자로 바꾸기

In [108]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

result = df.rename(columns = lambda x : x.lower())
print(result)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   name  age gender  is_student  weight  height       bmi
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

### 딕셔너리를 사용하여 Index 바꾸기

In [116]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

result1 = df.rename({0:'A', 1:'B'}, axis=0)
print(result1)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student  Weight  Height       BMI
A  Baek   21      M        True      50     155  0.002081
B   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

## Concat함수
axis=1 세로축 / axis=0 가로축 나누기

### DataFrame을 세로축으로 나누어 df1, df2에 할당하고, 다시 합하여 df3에 할당하기

In [121]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df1 = df.loc[:,:'is_student']
df2 = df.loc[:,'BMI':]

print(df1)
print(df2)

df3 = pd.concat([df1,df2], axis=1)

print(df3)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
        BMI
0  0.002081
1  0.001698
2  0.001611
3  0.002777
4  0.002540
   Name  Age Gender  is_student       BMI
0  Baek   21      M        True  0.002081
1   Kim   31      F       False  0.001698
2  Park   17      F        True  0.001611
3   Han   41      M       False  0.002777
4   Lee   51      M       False  0.002540

### DataFrame을 가로축으로 나누고, 다시 합하기

In [123]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df1 = df.loc[:2]
df2 = df.loc[3:]

print(df1)
print(df2)

df3 = pd.concat([df1,df2], axis=0)

print(df3)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
  Name  Age Gender  is_student  Weight  Height       BMI
3  Han   41      M       False      65     153  0.002777
4  Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

### Index가 겹칠 경우1
인덱스 번호가 겹치게 그냥 그대로 출력

In [126]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df3 = pd.concat([df,df], axis=0)
print(df3)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

### Index가 겹칠 경우2
ignore_index=True 옵션으로 인덱스가 겹치지 않도록 새로운 숫자 자동 생성됨

In [127]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df3 = pd.concat([df,df], axis=0, ignore_index=True)
print(df3)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540
5  Baek   21      M        True      50     155  0.002081
6   Kim   31      F       False      55     180  0.001698
7  Park   17      F        True      60     193  0.001611
8   Han   41      M       False      65     153  0.002777
9   Lee   51      M       False      70     166  0.002540

## head, tail 함수

### head 함수 : 첫 5행 선택(default  = 5행)

In [134]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df.head()

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

### head 함수 : 첫 3행 선택(default  = 5행)

In [133]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df.head(3)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611

### tail 함수 : 마지막 5행 선택(default = 5행)

In [135]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df.tail(3)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

   Name  Age Gender  is_student  Weight  Height       BMI
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

### 마지막 행을 '제외'하고 모두 선택
- 사용

In [138]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)
df['BMI'] = df['Weight']/df['Height']**2
print(df)

df.head(-1)

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777