## I/O Tools - 외부 데이터를 DataFrame으로 Import 하기
실제 데이터 분석에서, 사용할 데이터를 일일히 입력해 넣는 경우는 흔하지 않다.
분석에 사용할 데이터는 파일로부터 import를 하는 경우가 대부분

## csv 파일 DataFrame에 불러오기
### 서울시 지하철 승차정보 불러오기

In [1]:
import pandas as pd
url = 'https://github.com/silent0402/lecturenote/raw/master/Notes/data/subway.csv'
df = pd.read_csv(url)
print(df)

           사용일자  노선명   역ID    역명  승차총승객수  하차총승객수      등록일자
0      20190801  분당선  1872    매교    2348    2405  20190804
1      20190801  분당선  1871  수원시청   11930   13290  20190804
2      20190801  분당선  1870  매탄권선    4609    4360  20190804
3      20190801  분당선  1869    망포   14103   13044  20190804
4      20190801  분당선  1868    영통    9303    9380  20190804
...         ...  ...   ...   ...     ...     ...       ...
18314  20190831  3호선   316   독립문    8877    8761  20190903
18315  20190831  3호선   315   무악재    3491    3576  20190903
18316  20190831  3호선   314    홍제   17306   16129  20190903
18317  20190831  3호선   313    녹번   11970    9936  20190903
18318  20190831  3호선   312    불광   16697   18805  20190903

[18319 rows x 7 columns]

### 특정 Column만 선택하여 불러오기

In [2]:
import pandas as pd

df = pd.read_csv('https://github.com/silent0402/lecturenote/raw/master/Notes/data/subway.csv', 
                 sep=",",
                index_col=2,
                )
print(df)
df.shape
#shape : 행, 열의 갯수
df.columns
#구체적인 열 정보

df2 = df[["역명", "노선명"]]
print(df2)
# 필요한 열만 뽑아내기 (두 개 이상일 경우 대괄호 두 개임을 주의)

          사용일자  노선명    역명  승차총승객수  하차총승객수      등록일자
역ID
1872  20190801  분당선    매교    2348    2405  20190804
1871  20190801  분당선  수원시청   11930   13290  20190804
1870  20190801  분당선  매탄권선    4609    4360  20190804
1869  20190801  분당선    망포   14103   13044  20190804
1868  20190801  분당선    영통    9303    9380  20190804
...        ...  ...   ...     ...     ...       ...
316   20190831  3호선   독립문    8877    8761  20190903
315   20190831  3호선   무악재    3491    3576  20190903
314   20190831  3호선    홍제   17306   16129  20190903
313   20190831  3호선    녹번   11970    9936  20190903
312   20190831  3호선    불광   16697   18805  20190903

[18319 rows x 6 columns]
        역명  노선명
역ID
1872    매교  분당선
1871  수원시청  분당선
1870  매탄권선  분당선
1869    망포  분당선
1868    영통  분당선
...    ...  ...
316    독립문  3호선
315    무악재  3호선
314     홍제  3호선
313     녹번  3호선
312     불광  3호선

[18319 rows x 2 columns]

### header가 없는 경우 & Delimiter(구분자)가 쉼표가 아닐 경우

In [26]:
import pandas as pd

df = pd.read_csv('https://github.com/silent0402/lecturenote/raw/master/Notes/data/subway.csv', 
                 sep="|",
                header=None,
                 names=['a','b']
                )
print(df)

                                                       a   b
0         사용일자,"노선명","역ID","역명","승차총승객수","하차총승객수","등록일자" NaN
1      20190801,"분당선","1872","매교","2348","2405","2019... NaN
2      20190801,"분당선","1871","수원시청","11930","13290","... NaN
3      20190801,"분당선","1870","매탄권선","4609","4360","20... NaN
4      20190801,"분당선","1869","망포","14103","13044","20... NaN
...                                                  ...  ..
18315  20190831,"3호선","0316","독립문","8877","8761","201... NaN
18316  20190831,"3호선","0315","무악재","3491","3576","201... NaN
18317  20190831,"3호선","0314","홍제","17306","16129","20... NaN
18318  20190831,"3호선","0313","녹번","11970","9936","201... NaN
18319  20190831,"3호선","0312","불광","16697","18805","20... NaN

[18320 rows x 2 columns]

## Excel 파일 DataFrame에 불러오기

In [4]:
import pandas as pd

df = pd.read_excel('https://github.com/silent0402/lecturenote/raw/master/Notes/data/subway.xlsx', sheet_name="subway")
print(df)

           사용일자  노선명   역ID    역명  승차총승객수  하차총승객수      등록일자
0      20190801  분당선  1872    매교    2348    2405  20190804
1      20190801  분당선  1871  수원시청   11930   13290  20190804
2      20190801  분당선  1870  매탄권선    4609    4360  20190804
3      20190801  분당선  1869    망포   14103   13044  20190804
4      20190801  분당선  1868    영통    9303    9380  20190804
...         ...  ...   ...   ...     ...     ...       ...
18314  20190831  3호선   316   독립문    8877    8761  20190903
18315  20190831  3호선   315   무악재    3491    3576  20190903
18316  20190831  3호선   314    홍제   17306   16129  20190903
18317  20190831  3호선   313    녹번   11970    9936  20190903
18318  20190831  3호선   312    불광   16697   18805  20190903

[18319 rows x 7 columns]

### !wget 방법 사용

In [16]:
import pandas as pd
df = pd.read_excel('data/subway.xlsx', 
                   sheet_name = 'subway')

print(df)

           사용일자  노선명   역ID    역명  승차총승객수  하차총승객수      등록일자
0      20190801  분당선  1872    매교    2348    2405  20190804
1      20190801  분당선  1871  수원시청   11930   13290  20190804
2      20190801  분당선  1870  매탄권선    4609    4360  20190804
3      20190801  분당선  1869    망포   14103   13044  20190804
4      20190801  분당선  1868    영통    9303    9380  20190804
...         ...  ...   ...   ...     ...     ...       ...
18314  20190831  3호선   316   독립문    8877    8761  20190903
18315  20190831  3호선   315   무악재    3491    3576  20190903
18316  20190831  3호선   314    홍제   17306   16129  20190903
18317  20190831  3호선   313    녹번   11970    9936  20190903
18318  20190831  3호선   312    불광   16697   18805  20190903

[18319 rows x 7 columns]

## HTML 파일을 DataFrame에 불러오기

### url을 입력하여 해당 페이지의 Table 불러오기
read_html의 결과로 DataFrame의 '리스트'가 반환되는 것에 유의

In [6]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\yeongyun\appdata\local\programs\python\python37\lib\site-packages (4.4.1)

In [7]:
import pandas as pd
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
dfs = pd.read_html(url)
print(dfs[0])

                                             Bank Name        City  ST   CERT  \
0                                 The Enloe State Bank      Cooper  TX  10716
1                  Washington Federal Bank for Savings     Chicago  IL  30570
2      The Farmers and Merchants State Bank of Argonia     Argonia  KS  17719
3                                  Fayette County Bank  Saint Elmo  IL   1802
4    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...   Milwaukee  WI  30003
..                                                 ...         ...  ..    ...
551                                 Superior Bank, FSB    Hinsdale  IL  32646
552                                Malta National Bank       Malta  OH   6629
553                    First Alliance Bank & Trust Co.  Manchester  NH  34264
554                  National State Bank of Metropolis  Metropolis  IL   3815
555                                   Bank of Honolulu    Honolulu  HI  21029

                   Acquiring Institution       Closing Date       Updated Date
0                     Legend Bank, N. A.       May 31, 2019    August 22, 2019
1                     Royal Savings Bank  December 15, 2017      July 24, 2019
2                            Conway Bank   October 13, 2017    August 12, 2019
3              United Fidelity Bank, fsb       May 26, 2017   January 29, 2019
4    First-Citizens Bank & Trust Company        May 5, 2017     March 22, 2018
..                                   ...                ...                ...
551                Superior Federal, FSB      July 27, 2001    August 19, 2014
552                    North Valley Bank        May 3, 2001  November 18, 2002
553  Southern New Hampshire Bank & Trust   February 2, 2001  February 18, 2003
554              Banterra Bank of Marion  December 14, 2000     March 17, 2005
555                   Bank of the Orient   October 13, 2000     March 17, 2005

[556 rows x 7 columns]

## JSON 파일을 DataFrame에 불러오기

### 미국 연도별 인구데이터 불러오기
!wget 방식 미해결

In [8]:
import pandas as pd
url = 'https://github.com/silent0402/lecturenote/raw/master/Notes/data/population.json'

df = pd.read_json(url)
print(df)

                                            indicator  \
0   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
1   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
2   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
3   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
4   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
5   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
6   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
7   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
8   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
9   {'id': 'SP.POP.TOTL', 'value': 'Population, to...
10  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
11  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
12  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
13  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
14  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
15  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
16  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
17  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
18  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
19  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
20  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
21  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
22  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
23  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
24  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
25  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
26  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
27  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
28  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
29  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
30  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
31  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
32  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
33  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
34  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
35  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
36  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
37  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
38  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
39  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
40  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
41  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
42  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
43  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
44  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
45  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
46  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
47  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
48  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
49  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
50  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
51  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
52  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
53  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
54  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
55  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
56  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
57  {'id': 'SP.POP.TOTL', 'value': 'Population, to...
58  {'id': 'SP.POP.TOTL', 'value': 'Population, to...

                                   country      value  decimal  date
0   {'id': 'US', 'value': 'United States'}  327167434        0  2018
1   {'id': 'US', 'value': 'United States'}  325147121        0  2017
2   {'id': 'US', 'value': 'United States'}  323071342        0  2016
3   {'id': 'US', 'value': 'United States'}  320742673        0  2015
4   {'id': 'US', 'value': 'United States'}  318386421        0  2014
5   {'id': 'US', 'value': 'United States'}  316057727        0  2013
6   {'id': 'US', 'value': 'United States'}  313874218        0  2012
7   {'id': 'US', 'value': 'United States'}  311580009        0  2011
8   {'id': 'US', 'value': 'United States'}  309326085        0  2010
9   {'id': 'US', 'value': 'United States'}  306771529        0  2009
10  {'id': 'US', 'value': 'United States'}  304093966        0  2008
11  {'id': 'US', 'value': 'United States'}  301231207        0  2007
12  {'id': 'US', 'value': 'United States'}  298379912        0  2006
13  {'id': 'US', 'value': 'United States'}  295516599        0  2005
14  {'id': 'US', 'value': 'United States'}  292805298        0  2004
15  {'id': 'US', 'value': 'United States'}  290107933        0  2003
16  {'id': 'US', 'value': 'United States'}  287625193        0  2002
17  {'id': 'US', 'value': 'United States'}  284968955        0  2001
18  {'id': 'US', 'value': 'United States'}  282162411        0  2000
19  {'id': 'US', 'value': 'United States'}  279040000        0  1999
20  {'id': 'US', 'value': 'United States'}  275854000        0  1998
21  {'id': 'US', 'value': 'United States'}  272657000        0  1997
22  {'id': 'US', 'value': 'United States'}  269394000        0  1996
23  {'id': 'US', 'value': 'United States'}  266278000        0  1995
24  {'id': 'US', 'value': 'United States'}  263126000        0  1994
25  {'id': 'US', 'value': 'United States'}  259919000        0  1993
26  {'id': 'US', 'value': 'United States'}  256514000        0  1992
27  {'id': 'US', 'value': 'United States'}  252981000        0  1991
28  {'id': 'US', 'value': 'United States'}  249623000        0  1990
29  {'id': 'US', 'value': 'United States'}  246819000        0  1989
30  {'id': 'US', 'value': 'United States'}  244499000        0  1988
31  {'id': 'US', 'value': 'United States'}  242289000        0  1987
32  {'id': 'US', 'value': 'United States'}  240133000        0  1986
33  {'id': 'US', 'value': 'United States'}  237924000        0  1985
34  {'id': 'US', 'value': 'United States'}  235825000        0  1984
35  {'id': 'US', 'value': 'United States'}  233792000        0  1983
36  {'id': 'US', 'value': 'United States'}  231664000        0  1982
37  {'id': 'US', 'value': 'United States'}  229466000        0  1981
38  {'id': 'US', 'value': 'United States'}  227225000        0  1980
39  {'id': 'US', 'value': 'United States'}  225055000        0  1979
40  {'id': 'US', 'value': 'United States'}  222585000        0  1978
41  {'id': 'US', 'value': 'United States'}  220239000        0  1977
42  {'id': 'US', 'value': 'United States'}  218035000        0  1976
43  {'id': 'US', 'value': 'United States'}  215973000        0  1975
44  {'id': 'US', 'value': 'United States'}  213854000        0  1974
45  {'id': 'US', 'value': 'United States'}  211909000        0  1973
46  {'id': 'US', 'value': 'United States'}  209896000        0  1972
47  {'id': 'US', 'value': 'United States'}  207661000        0  1971
48  {'id': 'US', 'value': 'United States'}  205052000        0  1970
49  {'id': 'US', 'value': 'United States'}  202677000        0  1969
50  {'id': 'US', 'value': 'United States'}  200706000        0  1968
51  {'id': 'US', 'value': 'United States'}  198712000        0  1967
52  {'id': 'US', 'value': 'United States'}  196560000        0  1966
53  {'id': 'US', 'value': 'United States'}  194303000        0  1965
54  {'id': 'US', 'value': 'United States'}  191889000        0  1964
55  {'id': 'US', 'value': 'United States'}  189242000        0  1963
56  {'id': 'US', 'value': 'United States'}  186538000        0  1962
57  {'id': 'US', 'value': 'United States'}  183691000        0  1961
58  {'id': 'US', 'value': 'United States'}  180671000        0  1960

### json_normalize 함수를 이용하여 Nested structure의 JSON 파일을 정상적으로 불러오기

In [16]:
import pandas as pd

import json
from pandas.io.json import json_normalize

with open ('population.json') as data_file:
    data = json.load(data_file)

df = json_normalize(data)
print(df)

        value decimal  date indicator.id    indicator.value country.id  \
0   327167434       0  2018  SP.POP.TOTL  Population, total         US
1   325147121       0  2017  SP.POP.TOTL  Population, total         US
2   323071342       0  2016  SP.POP.TOTL  Population, total         US
3   320742673       0  2015  SP.POP.TOTL  Population, total         US
4   318386421       0  2014  SP.POP.TOTL  Population, total         US
5   316057727       0  2013  SP.POP.TOTL  Population, total         US
6   313874218       0  2012  SP.POP.TOTL  Population, total         US
7   311580009       0  2011  SP.POP.TOTL  Population, total         US
8   309326085       0  2010  SP.POP.TOTL  Population, total         US
9   306771529       0  2009  SP.POP.TOTL  Population, total         US
10  304093966       0  2008  SP.POP.TOTL  Population, total         US
11  301231207       0  2007  SP.POP.TOTL  Population, total         US
12  298379912       0  2006  SP.POP.TOTL  Population, total         US
13  295516599       0  2005  SP.POP.TOTL  Population, total         US
14  292805298       0  2004  SP.POP.TOTL  Population, total         US
15  290107933       0  2003  SP.POP.TOTL  Population, total         US
16  287625193       0  2002  SP.POP.TOTL  Population, total         US
17  284968955       0  2001  SP.POP.TOTL  Population, total         US
18  282162411       0  2000  SP.POP.TOTL  Population, total         US
19  279040000       0  1999  SP.POP.TOTL  Population, total         US
20  275854000       0  1998  SP.POP.TOTL  Population, total         US
21  272657000       0  1997  SP.POP.TOTL  Population, total         US
22  269394000       0  1996  SP.POP.TOTL  Population, total         US
23  266278000       0  1995  SP.POP.TOTL  Population, total         US
24  263126000       0  1994  SP.POP.TOTL  Population, total         US
25  259919000       0  1993  SP.POP.TOTL  Population, total         US
26  256514000       0  1992  SP.POP.TOTL  Population, total         US
27  252981000       0  1991  SP.POP.TOTL  Population, total         US
28  249623000       0  1990  SP.POP.TOTL  Population, total         US
29  246819000       0  1989  SP.POP.TOTL  Population, total         US
30  244499000       0  1988  SP.POP.TOTL  Population, total         US
31  242289000       0  1987  SP.POP.TOTL  Population, total         US
32  240133000       0  1986  SP.POP.TOTL  Population, total         US
33  237924000       0  1985  SP.POP.TOTL  Population, total         US
34  235825000       0  1984  SP.POP.TOTL  Population, total         US
35  233792000       0  1983  SP.POP.TOTL  Population, total         US
36  231664000       0  1982  SP.POP.TOTL  Population, total         US
37  229466000       0  1981  SP.POP.TOTL  Population, total         US
38  227225000       0  1980  SP.POP.TOTL  Population, total         US
39  225055000       0  1979  SP.POP.TOTL  Population, total         US
40  222585000       0  1978  SP.POP.TOTL  Population, total         US
41  220239000       0  1977  SP.POP.TOTL  Population, total         US
42  218035000       0  1976  SP.POP.TOTL  Population, total         US
43  215973000       0  1975  SP.POP.TOTL  Population, total         US
44  213854000       0  1974  SP.POP.TOTL  Population, total         US
45  211909000       0  1973  SP.POP.TOTL  Population, total         US
46  209896000       0  1972  SP.POP.TOTL  Population, total         US
47  207661000       0  1971  SP.POP.TOTL  Population, total         US
48  205052000       0  1970  SP.POP.TOTL  Population, total         US
49  202677000       0  1969  SP.POP.TOTL  Population, total         US
50  200706000       0  1968  SP.POP.TOTL  Population, total         US
51  198712000       0  1967  SP.POP.TOTL  Population, total         US
52  196560000       0  1966  SP.POP.TOTL  Population, total         US
53  194303000       0  1965  SP.POP.TOTL  Population, total         US
54  191889000       0  1964  SP.POP.TOTL  Population, total         US
55  189242000       0  1963  SP.POP.TOTL  Population, total         US
56  186538000       0  1962  SP.POP.TOTL  Population, total         US
57  183691000       0  1961  SP.POP.TOTL  Population, total         US
58  180671000       0  1960  SP.POP.TOTL  Population, total         US

    country.value
0   United States
1   United States
2   United States
3   United States
4   United States
5   United States
6   United States
7   United States
8   United States
9   United States
10  United States
11  United States
12  United States
13  United States
14  United States
15  United States
16  United States
17  United States
18  United States
19  United States
20  United States
21  United States
22  United States
23  United States
24  United States
25  United States
26  United States
27  United States
28  United States
29  United States
30  United States
31  United States
32  United States
33  United States
34  United States
35  United States
36  United States
37  United States
38  United States
39  United States
40  United States
41  United States
42  United States
43  United States
44  United States
45  United States
46  United States
47  United States
48  United States
49  United States
50  United States
51  United States
52  United States
53  United States
54  United States
55  United States
56  United States
57  United States
58  United States

In [ ]:
!pip install requests

### 실시간 검색어 순위 JSON 데이터를 반환

In [44]:
import pandas as pd
import json, requests
from pandas.io.json import json_normalize

r = requests.get('http://rank.search.naver.com/rank.js')
#json_normalize(json.loads(r.text), ['data','category'])
json_normalize(json.loads(r.text), ['data','data'])
#json_normalize(json.loads(r.text), ['data'])

    rank         keyword change  score  tvalue  cvalue ratio  delta
0      1      커버낫 헝가리 구스      +      0     0.0     0.0     .      0
1      2  미세플라스틱 미검출 샤프란      +      0     0.0     0.0     .      0
2      3        미샤베스트1+1      +      0     0.0     0.0     .      0
3      4       투썸플레이스 원두      +      0     0.0     0.0     .      0
4      5       cjone 굿퀴즈      +      0     0.0     0.0     .      0
5      6             성현아      +      0     0.0     0.0     .      0
6      7      반트 1만개 이벤트      +      0     0.0     0.0     .      0
7      8             한승우      +      0     0.0     0.0     .      0
8      9   세리번나이트 오늘만 반값      +      0     0.0     0.0     .      0
9     10    미세플라스틱 섬유유연제      +      0     0.0     0.0     .      0
10    11           투썸 원두      +      0     0.0     0.0     .      0
11    12        플로이사프로모션      +      0     0.0     0.0     .      0
12    13             문근영      +      0     0.0     0.0     .      0
13    14         세리번 나이트      +      0     0.0     0.0     .      0
14    15             강희석      +      0     0.0     0.0     .      0
15    16             송진우      +      0     0.0     0.0     .      0
16    17             권용원      +      0     0.0     0.0     .      0
17    18         영화 1987      +      0     0.0     0.0     .      0
18    19         남동공단 화재      +      0     0.0     0.0     .      0
19    20       삼성생명 우리은행      +      0     0.0     0.0     .      0

In [20]:
# time stamp

r = requests.get('http://rank.search.naver.com/rank.js')
json.loads(r.text)['ts']

'2019-10-21T15:39:00+0900'