## 데이터 선택 및 조작

### DataFrame의 size, shape, ndim

In [3]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

print(df.size)
#DataFrame 내의 총 데이터 개수 (row * column)
print(df.shape)
#row수, column수
print(df.ndim)
#데이터의 차원

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
20
(5, 4)
2

## 데이터 선택하기

### [ ]를 이용하여 'Name' Column 선택
리턴값의 type 확인

In [22]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df['Name']
print(result)
print(type(result))

df.Name

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
0    Baek
1     Kim
2    Park
3     Han
4     Lee
Name: Name, dtype: object
<class 'pandas.core.series.Series'>

0    Baek
1     Kim
2    Park
3     Han
4     Lee
Name: Name, dtype: object

### [ ]를 이용하여 첫 번째, 두 번째 row 선택
리턴값의 type 확인

In [31]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df[0:2]

print(result)
print(type(result))

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
<class 'pandas.core.frame.DataFrame'>

### Series의 두 번째 값 선택

In [ ]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

s = df['Gender']
print(s[1])

### 'Name', 'Age', 'Gender' 컬럼 선택

In [166]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df.loc[:,'Name':'Gender']
print(result)
result = df.loc[:,['Name','Age','Gender']]
print(result)
result = df.loc[0:4,['Name','Age','Gender']]
print(result)

#여러가지 방법 존재

result = df.loc[2]
print(result)
# 2번째 인덱스에 있는 값 리스트 출력
result = df.iloc[2]
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender
0  Baek   21      M
1   Kim   31      F
2  Park   17      F
3   Han   41      M
4   Lee   51      M
   Name  Age Gender
0  Baek   21      M
1   Kim   31      F
2  Park   17      F
3   Han   41      M
4   Lee   51      M
   Name  Age Gender
0  Baek   21      M
1   Kim   31      F
2  Park   17      F
3   Han   41      M
4   Lee   51      M
Name          Park
Age             17
Gender           F
is_student    True
Name: 2, dtype: object
Name          Park
Age             17
Gender           F
is_student    True
Name: 2, dtype: object

### 'Name', 'Gender' 컬럼의 첫 번째, 두 번째 줄만 선택

In [46]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df.iloc[0:2,[0,2]]
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name Gender
0  Baek      M
1   Kim      F

### 특정 조건으로 선택
Name이 'Baek'인 DataFrame 출력

In [48]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df[df['Name']=='Baek']
#데이터프레임 중 Name이 Baek인 데이터프레임만 출력
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student
0  Baek   21      M        True

성별이 남성이며, 나이가 30살 이상인 데이터 선택하여 출력

In [61]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df[(df['Gender']=='M') & (df['Age']>=30)]
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
  Name  Age Gender  is_student
3  Han   41      M       False
4  Lee   51      M       False

## DataFrame의 Column을 추가/변경/삭제

### 'Age' Column에 10씩 더하기

In [68]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

df['Age'] = df['Age']+10
print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student
0  Baek   31      M        True
1   Kim   41      F       False
2  Park   27      F        True
3   Han   51      M       False
4   Lee   61      M       False

### 모든 'Name'에 some_name이라는 문자열 붙이기

In [69]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

df['Name'] = df['Name']+"some_name"
print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
            Name  Age Gender  is_student
0  Baeksome_name   21      M        True
1   Kimsome_name   31      F       False
2  Parksome_name   17      F        True
3   Hansome_name   41      M       False
4   Leesome_name   51      M       False

### 여러 개의 Column

In [72]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df[['Name', 'Gender']] + 'some_string'
print(result)

##대활호가 두 개임을 주의

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
              Name        Gender
0  Baeksome_string  Msome_string
1   Kimsome_string  Fsome_string
2  Parksome_string  Fsome_string
3   Hansome_string  Msome_string
4   Leesome_string  Msome_string

### Series간의 연산

In [73]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

result = df['Name'] + df['Gender']
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
0    BaekM
1     KimF
2    ParkF
3     HanM
4     LeeM
dtype: object

### 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가

In [77]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Weight
0  Baek   21      M        True      50
1   Kim   31      F       False      55
2  Park   17      F        True      60
3   Han   41      M       False      65
4   Lee   51      M       False      70

### 1차원 데이터를 이용하여 Height 컬럼을 DataFrame에 추가

In [79]:
import pandas as pd


#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

df['Height'] = (155,180,193,153,166)
print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Height
0  Baek   21      M        True     155
1   Kim   31      F       False     180
2  Park   17      F        True     193
3   Han   41      M       False     153
4   Lee   51      M       False     166

### 두 개의 Column 값을 사용하여, BMI 컬럼을 DataFrame에 추가
BMI = Weight / Height(미터) ^ 2

In [115]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2

print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Weight  Height       BMI
0  Baek   21      M        True      50     155  0.002081
1   Kim   31      F       False      55     180  0.001698
2  Park   17      F        True      60     193  0.001611
3   Han   41      M       False      65     153  0.002777
4   Lee   51      M       False      70     166  0.002540

### BMI가 20이 넘는 사람은 True, 20 미만인 사람은 False를 값으로 갖는 'Need_Diet' 컬럼 추가

In [221]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2

df['Need_Diet'] = df['BMI']>20

print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Weight  Height       BMI  Need_Diet
0  Baek   21      M        True      50     155  0.002081      False
1   Kim   31      F       False      55     180  0.001698      False
2  Park   17      F        True      60     193  0.001611      False
3   Han   41      M       False      65     153  0.002777      False
4   Lee   51      M       False      70     166  0.002540      False

### 스칼라 값을 이용하여 'Country' 컬럼을 DataFrame에 추가

In [138]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2
df['Country'] = 'Korea'
print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Weight  Height       BMI Country
0  Baek   21      M        True      50     155  0.002081   Korea
1   Kim   31      F       False      55     180  0.001698   Korea
2  Park   17      F        True      60     193  0.001611   Korea
3   Han   41      M       False      65     153  0.002777   Korea
4   Lee   51      M       False      70     166  0.002540   Korea

## Column 삭제

### del을 이용하여 'Weight' Column 삭제

In [141]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2
df['Country'] = 'Korea'

del df['Weight']
print(df)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Height       BMI Country
0  Baek   21      M        True     155  0.002081   Korea
1   Kim   31      F       False     180  0.001698   Korea
2  Park   17      F        True     193  0.001611   Korea
3   Han   41      M       False     153  0.002777   Korea
4   Lee   51      M       False     166  0.002540   Korea

### pop을 이용하여 'Height' Column 삭제
s 변수에 지워진 'Height' Column이 할당된다.

In [ ]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2
df['Country'] = 'Korea'

s = df.pop('Height')
# s 변수에 Height 컬럼이 할당되있는 거니까, df를 출력하면 Height를 뺀 값들이 출력
print(df)

### drop 함수를 이용하여 2~4번째 row 삭제 후 result 변수에 할당

In [156]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2
df['Country'] = 'Korea'

result = df.drop(range(1,4), axis=0)
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Weight  Height       BMI Country
0  Baek   21      M        True      50     155  0.002081   Korea
4   Lee   51      M       False      70     166  0.002540   Korea

### drop 함수를 이용하여 BMI, Need_Diet Column 삭제 후 result 변수에 할당

In [157]:
import pandas as pd

#DataFrame 생성
dict_list = {
    'Name' : ['Baek','Kim','Park','Han','Lee'],
    'Age' : [21,31,17,41,51],
    'Gender' : ['M','F','F','M','M'],
    'is_student' : [True, False, True, False, False]
}

df = pd.DataFrame(dict_list)
print(df)

# 1차원 데이터를 이용하여 Weight 컬럼을 DataFrame에 추가
df['Weight'] = [50,55,60,65,70]
#df['Weight'] = (50,55,60,65,70)
#df['Weight'] = pd.Series([50,55,60,65,70])
'''
df['Weight'] = {
    0: 50,
    1: 55,
    2: 60,
    3: 65,
    4: 70
}
'''
df['Height'] = (155,180,193,153,166)

df['BMI'] = df['Weight']/df['Height']**2
df['Country'] = 'Korea'

result = df.drop(["BMI","Height"], axis=1)
print(result)

   Name  Age Gender  is_student
0  Baek   21      M        True
1   Kim   31      F       False
2  Park   17      F        True
3   Han   41      M       False
4   Lee   51      M       False
   Name  Age Gender  is_student  Weight Country
0  Baek   21      M        True      50   Korea
1   Kim   31      F       False      55   Korea
2  Park   17      F        True      60   Korea
3   Han   41      M       False      65   Korea
4   Lee   51      M       False      70   Korea